h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 1em;
  line-height: 1;
  color: wheat;
  &:not(:first-child) {
    margin-top: 2em;
  }
}
h2 {
  font-size: 1.5em;
}
p:not(:last-child),
p:not(:only-child) {
  margin-bottom: 1em;
}
html {
  font-size: 112.5%;
  @apply font-sans font-light text-zinc-900 leading-normal;
}
