h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: 0.03em;
  &:first-child {
    margin-top: 0;
  }
}
p:last-child:not(:first-child),
p:only-child {
  margin: 0;
}
html {
  font-size: 112.5%;
  @apply font-sans font-light text-grey-darker leading-normal;
}
