button {
  outline: none;
}
.btn {
  @apply py-3 px-4 rounded-sm bg-blue inline-block text-white leading-none;
  border: none;
  & svg {
    margin-bottom: -0.2em;
    transform: translateY(-0.08em);
  }
  &.btn-white {
    @apply bg-white text-grey-dark;
    border: 1px solid config('colors.grey-dark');
  }
}
