a:any-link {
  &:not(.btn) {
    color: config('colors.blue');
  }
}
button {
  outline: none;
  cursor: pointer;
  & * {
    cursor: pointer;
  }
}
.btn {
  @apply py-3 px-4 rounded-sm bg-blue inline-block leading-none;
  border: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  & svg {
    margin-bottom: -0.2em;
    transform: translateY(-0.08em);
  }
  &.btn-white {
    @apply bg-white text-grey-dark;
    border: 1px solid config('colors.grey');
  }
  &.btn-sm {
    font-size: 0.9em;
    @apply py-2 px-3;
  }
}
.btn-wrapper {
  background: transparent;
  padding: 0;
  display: block;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
