a:any-link {
  &:not(.btn) {
    color: theme(colors.blue.400);
  }
}
button {
  outline: none;
  cursor: pointer;
  & * {
    cursor: pointer;
  }
}
.btn {
  @apply py-3 px-4 rounded-sm inline-block leading-none;
  border: 1px solid white;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  & svg {
    display: inline-block;
    margin-bottom: -0.2em;
    transform: translateY(-0.08em);
  }
  &.btn-white {
    @apply bg-white text-zinc-800;
  }
  &.btn-grey {
    @apply text-zinc-600;
    background: #f7f7f7;
    border-color: #ccc;
  }
  &.btn-sm {
    font-size: 0.9em;
    @apply py-2 px-3;
  }
}
.btn-wrapper {
  background: transparent;
  padding: 0;
  display: flex;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
