.image-nav {
  position: relative;
  & > button {
    transition: all 1s;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4vw;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    @apply flex items-center px-3;
    cursor: pointer;
    outline: none;
    box-sizing: content-box;
    &.nav-left {
      left: 0;
    }
    &.nav-right {
      @apply justify-end;
      right: 0;
    }
    & svg {
      height: 2rem;
      width: 2rem;
      color: #fff;
    }
  }
}
@screen md {
  .image-nav {
    & > button {
      width: 8vw;
    }
    &:not(:hover) {
      & > button {
        opacity: 0;
      }
    }
  }
}
