.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  display: grid;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  & .modal-content {
    width: 100%;
    max-width: 102rem;
    align-self: center;
    justify-self: center;
    overflow-wrap: break-word;
    position: relative;
    & .modal-close {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      opacity: 0.4;
    }
  }
}
@screen sm {
  .modal {
    padding: 1rem;
  }
}
