.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  display: grid;
  z-index: 999;
  background: #fff;
  & .modal-content {
    transition: all 0.4s;
    width: 100%;
    max-width: 102rem;
    align-self: center;
    justify-self: center;
    overflow-wrap: break-word;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(5%);
  }
  &.modalVisible {
    & .modal-content {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@screen sm {
  .modal {
    padding: 1rem;
  }
}
@media (max-width: theme(screens.lg)) {
  .modal-close {
    width: 100%;
    display: block;
    padding: 2rem;
    background: transparent;
    border: none;
    text-align: center;
    line-height: 1;
    color: theme(colors.zinc.400);
    & svg {
      display: inline-block;
    }
  }
}
@screen lg {
  .modal {
    background: rgba(0, 0, 0, 0.8);
  }
  .modal-close {
    background: transparent;
    border: none;
    padding: 0;
    line-height: 1;
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.4;
    color: theme(colors.zinc.400);
  }
}
