.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  display: grid;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  & .modal-content {
    width: 100%;
    max-width: 102rem;
    align-self: center;
    justify-self: center;
    overflow-wrap: break-word;
    position: relative;
    @apply rounded-sm;
    overflow: hidden;
  }
}
@screen sm {
  .modal {
    padding: 1rem;
  }
}
@media (max-width: theme("screens.lg")) {
  .modal-close {
    width: 100%;
    display: block;
    padding: 2rem;
    background: transparent;
    border: none;
    text-align: center;
    line-height: 1;
    & svg {
      fill: #fff;
    }
  }
}
@screen lg {
  .modal-close {
    background: transparent;
    border: none;
    padding: 0;
    line-height: 1;
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    opacity: 0.4;
  }
}
