.previewer {
  @apply flex;
}
@media (max-width: theme("screens.lg")) {
  .previewer {
    flex-wrap: wrap;
  }
}
@screen lg {
  .previewer {
    & > div {
      &:first-child {
        background: #000;
        flex: auto;
        min-height: 20rem;
      }
      &:last-child {
        width: 440px;
        flex: none;
      }
    }
  }
}
