.project-links {
  @apply -mx-1;
  & .project-link {
    @apply inline-block mx-1 rounded-sm text-blue;
    line-height: 1;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid config('colors.grey-darker');
    & > span {
      @apply flex;
      & span {
        @apply p-1;
        &:first-child {
          font-size: 0.5em;
        }
        &:not(:first-child) {
          @apply flex-auto;
          border-left: 1px solid config('colors.grey-darker');
        }
      }
    }
  }
}
