.tags {
  margin: -0.2rem -0.15rem;
}
.tag {
  @apply inline-block rounded-sm text-zinc-800 leading-none text-xs px-2 py-1;
  font-weight: 500;
  border: 1px solid theme(colors.gray.200);
  margin: 0.2rem 0.15rem;
  text-decoration: none;
}
.icon-tag {
  @apply tag p-0;
  & > span {
    @apply flex;
    & span {
      @apply p-1;
      &:first-child {
        & svg {
          display: block;
        }
      }
      &:not(:first-child) {
        @apply flex-auto pr-2 text-zinc-600;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}
.icon-tag-subtle {
  & span {
    @apply text-zinc-600;
  }
  opacity: 0.75;
}
