.dark-theme {
  @apply bg-slate-800;
  color: rgba(255, 255, 255, 0.6);
  & h1,
  & h2,
  & h3,
  & h4 {
    color: wheat;
  }
  & .tag,
  & .icon-tag {
    @apply text-blue-400;
    border-color: theme(colors.gray.800);
    background: rgba(0, 0, 0, 0.2);
  }
  & .content-box {
    @apply bg-zinc-950 border-0 border-l-8 border-blue-400 border-solid;
  }
}
