html.document {
  font-size: 100%;
  background: #222;
  @apply text-zinc-800;
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  & .document-container {
    background-color: #fff;
    margin: 0 auto;
    width: 210mm;
    position: relative;
    &:after {
      content: " ";
      display: block;
      width: 310px;
      height: 262px;
      background-image: url("../../images/fish.png");
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: 450px;
      position: absolute;
      top: 0;
      right: 0;
    }
    & h1,
    & h2,
    & h3,
    & h4 {
      @apply text-zinc-800;
      font-weight: 600;
    }
    & h2 {
      position: relative;
      display: inline-block;
      &:after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 3px;
        background: theme(colors.rose.400);
      }
    }
    & .project-link {
      display: inline-flex;
      background-image: none;
      @apply text-slate-500 p-2;
      font-size: 0.9em;
      & svg {
        position: relative;
        top: 2px;
        @apply text-rose-500;
      }
    }
    & a.project-link {
      font-weight: 600;
    }
    & .page {
      height: 297mm;
      position: relative;
    }
    & .contact-footer {
      @apply pt-12 pb-10;
      border-top: 8px solid theme(colors.blue.400);
    }
    & .contact-details {
      & > div {
        display: inline-flex;
        align-items: center;
        line-height: 1;
        font-size: 0.9em;
        margin-right: 14px;
        & a {
          color: inherit;
          text-decoration: none;
          background: none;
        }
        & svg {
          margin-right: 4px;
          fill: currentColor;
        }
      }
    }
    & .doc-title {
      border-left: 1rem solid theme(colors.blue.400);
      @apply pl-4 leading-none;
    }
  }
  & .alt-font {
    font-family: "Open Sans", sans-serif;
  }
  & .box {
    @apply p-10 border-4 border-zinc-200;
  }
  & .box2 {
    @apply p-10;
    position: relative;
    & h2 {
      position: absolute;
      top: -10px;
      left: 10px;
      background-color: #fff;
    }
  }
  & .item {
    @apply px-2 py-3 border-2 border-zinc-300 leading-none;
    &:not(:first-child) {
      @apply mt-2;
    }
  }
  & .page-number {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: theme(colors.gray.500);
    opacity: 0.7;
    font-size: 0.8rem;
    line-height: 1;
  }
  & .tag {
    font-size: 0.9rem;
    border-width: 2px;
    padding-top: 0.45rem;
  }
  & .tags {
    margin: -0.2rem -0.25rem;
    & .tag {
      padding: 0.25rem 0.6rem;
      border-radius: 0;
      color: theme(colors.slate.500);
      border: none;
      margin: 0.2rem 0.25rem;
      position: relative;
      &:after {
        content: " ";
        display: block;
        position: absolute;
        left: -2px;
        top: 50%;
        height: 6px;
        width: 6px;
        transform: translateY(-50%);
        background: theme(colors.rose.500);
      }
    }
  }
  & #bio {
    & u {
      text-decoration: none;
      position: relative;
      &:after {
        content: " ";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 2px;
        background: theme(colors.rose.400);
      }
    }
  }
  & ul li:before {
    background-color: theme(colors.rose.500);
  }
}
