:root {
  --linkedin: #1485bd;
  --github: #25292e;
  --mirage: #171e27;
  --mirage-light: #202835;
}
.bg-linkedin {
  background: var(--linkedin);
}
.bg-github {
  background: var(--github);
}
.text-mirage {
  color: var(--mirage);
}
.bg-mirage {
  background: var(--mirage);
}
.bg-mirage-light {
  background: var(--mirage-light);
}
